Repository mango-gremlin/arch-enemies, pull requests merged in 2023-12, with the labels that each got.

#93 Prototype/overworld interaction refactoring
  testing_area/prototype_testing/overworld/entities/interaction_overworld/bridge_interaction.gd
  testing_area/prototype_testing/overworld/entities/interaction_overworld/bridge_interaction.tscn
  testing_area/prototype_testing/overworld/entities/interaction_overworld/interactionspot.gd
  testing_area/prototype_testing/overworld/maingame.gd
  testing_area/prototype_testing/overworld/maingame.tscn
  testing_area/prototype_testing/overworld/script/Item.gd
  testing_area/prototype_testing/overworld/script/Player.gd
  testing_area/prototype_testing/overworld/script/ZoomCamera.gd
  testing_area/prototype_testing/overworld/script/save_management.gd
  testing_area/prototype_testing/overworld/ui/overworld_ui/overworld_ui.gd
  testing_area/prototype_testing/overworld/ui/overworld_ui/overworld_ui.tscn
Labels: overworld, prototype

#88 added drop zones to shore
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/DragObject.gd
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/global.gd
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/world.tscn
Labels: programming, bridges, prototype

#94 Squirrel now snaps to grid correctly
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/DragObject.gd
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/squirrel.tscn
Labels: programming, bridges, prototype

#105 Added a button that spawns spiders.
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/SpiderSpawningButton.gd
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/world.tscn
Labels: enhancement, programming, bridges, prototype

#110 adjusted snake hitboxes to fit grid
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/snek.tscn
Labels: programming, bridges, prototype

#114 fix spider adjacent placement
  testing_area/prototype_testing/MarcelRaffaelKatjaGlenn_BridgeNoGridPrototype1/Prototype_Bridges_1.3/DragObject.gd
Labels: programming, bridges, prototype

#122 update protocol naming, add meeting 202301207
  docs/meeting_notes/general_meetings/23-11-16_meeting_prototype_plan.md
  docs/meeting_notes/general_meetings/23-11-19_meeting_high_court.md
  docs/meeting_notes/general_meetings/23-11-30_meeting_high_court.md
  docs/meeting_notes/general_meetings/23-12-07_meeting_high_court.md
Labels: documentation

#125 Refactor the bridge prototype
  Arch-enemies/bridges/SnakeSpawningButton.gd
  Arch-enemies/bridges/SpiderSpawningButton.gd
  Arch-enemies/bridges/SquirrelSpawningButton.gd
  Arch-enemies/bridges/global.gd
  Arch-enemies/bridges/goal_menu.gd
  Arch-enemies/bridges/gridVisibility.gd
  Arch-enemies/bridges/icon.svg
  Arch-enemies/bridges/icon.svg.import
  Arch-enemies/bridges/scenes/animals/snake.tscn
  Arch-enemies/bridges/scenes/animals/spider.tscn
  Arch-enemies/bridges/scenes/animals/squirrel.tscn
  Arch-enemies/bridges/scenes/bridge_1.tscn
  Arch-enemies/bridges/scenes/death_hazard.tscn
  Arch-enemies/bridges/scenes/goal_menu.tscn
  Arch-enemies/bridges/scenes/player.tscn
  Arch-enemies/bridges/script/drag_handler.gd
  Arch-enemies/bridges/script/dropzones_visibility.gd
  Arch-enemies/bridges/script/global.gd
  Arch-enemies/bridges/script/goal_menu.gd
  Arch-enemies/bridges/script/grid_visibility.gd
  Arch-enemies/bridges/script/player.gd
  Arch-enemies/bridges/script/spawn_animal.gd
  Arch-enemies/bridges/script/toggle_mode_button.gd
  Arch-enemies/overworld/script/Player.gd
  Arch-enemies/project.godot
Labels: programming, bridges

#140 Feature/refactor overworld
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/entities/Player/ZoomCamera.gd
  Arch-enemies/overworld/entities/interaction_overworld/bridge_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/bridge_interaction.tscn
  Arch-enemies/overworld/entities/interaction_overworld/interactionspot.gd
  Arch-enemies/overworld/entities/interaction_overworld/item_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/item_interaction.tscn
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.tscn
  Arch-enemies/overworld/main_scene_overworld.tscn
  Arch-enemies/overworld/overworld.tscn
  Arch-enemies/overworld/scenes/player.tscn
  Arch-enemies/overworld/scripts/Item.gd
  Arch-enemies/overworld/scripts/interactionStruct.gd
  Arch-enemies/overworld/scripts/main_menu.gd
  Arch-enemies/overworld/scripts/save_management.gd
  Arch-enemies/overworld/ui/main_menu/main_menu.tscn
  Arch-enemies/overworld/ui/menu/menu/pause_menu.gd
  Arch-enemies/overworld/ui/menu/menu/pause_menu.tscn
  Arch-enemies/project.godot
Labels: documentation, programming, overworld

#147 changed inventory system #139
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/scripts/Item.gd
  Arch-enemies/overworld/scripts/save_management.gd
  Arch-enemies/overworld/ui/overworld_ui/overworld_ui.gd
Labels: enhancement, programming, overworld

#153 Updated the squirrel sprite
  Arch-enemies/bridges/assets/box_squirrel_tall.png
  Arch-enemies/bridges/assets/box_squirrel_tall.png.import
  Arch-enemies/bridges/scenes/animals/squirrel.tscn
Labels: bridges

#151 Fixed wrong dropzones lighting up
  Arch-enemies/bridges/scenes/animals/snake.tscn
  Arch-enemies/bridges/scenes/animals/spider.tscn
  Arch-enemies/bridges/scenes/animals/squirrel.tscn
  Arch-enemies/bridges/scenes/bridge_1.tscn
Labels: programming, bridges

#150 Add world edge collision boxes
  Arch-enemies/bridges/scenes/bridge_1.tscn
  Arch-enemies/bridges/scenes/world_edge.tscn
Labels: programming, bridges

#160 refactored goal_menu
  Arch-enemies/bridges/scenes/bridge_1.tscn
  Arch-enemies/bridges/scenes/goal_menu.tscn
  Arch-enemies/bridges/script/goal_menu.gd
  Arch-enemies/bridges/script/player.gd
Labels: bridges

#154 Correct anchor points, positions and scale mess
  Arch-enemies/bridges/scenes/animals/snake.tscn
  Arch-enemies/bridges/scenes/bridge_1.tscn
  Arch-enemies/bridges/scenes/death_hazard.tscn
  Arch-enemies/bridges/script/player.gd
Labels: bug, programming, bridges

#163 Put the Shore in a seperate scene
  Arch-enemies/bridges/scenes/bridge_1.tscn
  Arch-enemies/shore.tscn
Labels: programming, bridges

#155 animals can now only be connected to the shore or to other animals al…
  Arch-enemies/bridges/script/drag_handler.gd
Labels: programming, bridges

#116 Automate adding PRs & Issues to Projects
  .github/workflows/add-to-arch-enemies-project.yml
  .github/workflows/add-to-bridges-project.yml
  .github/workflows/add-to-overworld-project.yml
  .github/workflows/add-to-ui-project.yml
Labels: ui-assets, bridges, overworld, discussion

#164 Forbidden zone of dragged snake is now working
  Arch-enemies/bridges/scenes/animals/forbidden_visibility.gd
  Arch-enemies/bridges/scenes/animals/snake.tscn
  Arch-enemies/bridges/script/drag_handler.gd
Labels: bug, programming, bridges

#169 Add player animation for the bridge level
  Arch-enemies/assets/art/characters/fox_idle_sheet.png
  Arch-enemies/assets/art/characters/fox_idle_sheet.png.import
  Arch-enemies/assets/art/characters/fox_jumping_sheet_offset.png
  Arch-enemies/assets/art/characters/fox_jumping_sheet_offset.png.import
  Arch-enemies/assets/art/characters/fox_walking_sheet.png
  Arch-enemies/assets/art/characters/fox_walking_sheet.png.import
  Arch-enemies/bridges/scenes/bridge_1.tscn
  Arch-enemies/bridges/scenes/player.tscn
  Arch-enemies/bridges/script/player.gd
Labels: ui-assets, bridges

#166 Implemented functionality which prevents placing animals inside eachother
  Arch-enemies/bridges/scenes/animals/snake.tscn
  Arch-enemies/bridges/scenes/animals/spider.tscn
  Arch-enemies/bridges/scenes/animals/squirrel.tscn
  Arch-enemies/bridges/script/drag_handler.gd
Labels: bug, bridges

#178 Add bridge tilemap and collisions
  Arch-enemies/assets/art/objects/bridge_deer.png
  Arch-enemies/assets/art/objects/bridge_deer.png.import
  Arch-enemies/assets/art/objects/bridge_grid.png
  Arch-enemies/assets/art/objects/bridge_grid.png.import
  Arch-enemies/assets/art/objects/bridge_hazard_PLACEHOLDER.png
  Arch-enemies/assets/art/objects/bridge_hazard_PLACEHOLDER.png.import
  Arch-enemies/assets/art/objects/bridge_snake.png
  Arch-enemies/assets/art/objects/bridge_snake.png.import
  Arch-enemies/assets/art/objects/bridge_spider.png
  Arch-enemies/assets/art/objects/bridge_spider.png.import
  Arch-enemies/assets/art/objects/bridge_squirrel.png
  Arch-enemies/assets/art/objects/bridge_squirrel.png.import
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_background_color.png
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_background_color.png.import
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_tileset.png
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_tileset.png.import
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_tileset.tres
  Arch-enemies/bridges/assets/blue_dark.png
  Arch-enemies/bridges/assets/darkest green.png
  Arch-enemies/bridges/assets/darkest green.png.import
  Arch-enemies/bridges/assets/fox_2.png
  Arch-enemies/bridges/assets/fox_2.png.import
  Arch-enemies/bridges/assets/green.png
  Arch-enemies/bridges/assets/snake_50x10.png.import
  Arch-enemies/bridges/scenes/animals/snake.tscn
  Arch-enemies/bridges/scenes/animals/spider.tscn
  Arch-enemies/bridges/scenes/animals/squirrel.tscn
  Arch-enemies/bridges/scenes/bridge_1.tscn
  Arch-enemies/bridges/scenes/death_hazard.tscn
  Arch-enemies/bridges/scenes/shore.tscn
  Arch-enemies/bridges/script/forbidden_visibility.gd
Labels: ui-assets, bridges

#181 Bridge Overhaul using a hard grid
  Arch-enemies/bridges/assets/red.png
  Arch-enemies/bridges/assets/red.png.import
  Arch-enemies/bridges/assets/yellow.png
  Arch-enemies/bridges/assets/yellow.png.import
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/yellow.png
  Arch-enemies/bridges/scenes/yellow.png.import
  Arch-enemies/bridges/script/fox_start.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
  Arch-enemies/bridges/script/grid_visualizer.gd
Labels: documentation, programming, bridges

#201 Added autoload for the grid
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/yellow.png
  Arch-enemies/bridges/scenes/yellow.png.import
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
  Arch-enemies/project.godot
Labels: programming, bridges

#209 Implement mode toggle buttoon and refactor the level
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/dragpreview.tscn
  Arch-enemies/bridges/scenes/player.tscn
  Arch-enemies/bridges/scenes/toggle_build_fox_mode.gd
  Arch-enemies/bridges/scenes/water_detection.tscn
  Arch-enemies/bridges/script/DRAGPREVIEW.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
  Arch-enemies/bridges/script/grid_visualizer.gd
  Arch-enemies/bridges/script/player.gd
  Arch-enemies/project.godot
Labels: programming, bridges

#183 Refactor Player into Singleton | improve Interaction system | set framework for NPC Interaction | update Bridge-representation
  Arch-enemies/assets/art/bridge_dummy.png
  Arch-enemies/assets/art/bridge_dummy_failure.png
  Arch-enemies/assets/art/bridge_dummy_failure.png.import
  Arch-enemies/assets/art/bridge_dummy_success.png
  Arch-enemies/assets/art/bridge_dummy_success.png.import
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/entities/interaction_overworld/bridge_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/bridge_interaction.tscn
  Arch-enemies/overworld/entities/interaction_overworld/interactionspot.gd
  Arch-enemies/overworld/entities/interaction_overworld/item_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/overworld/main_scene_overworld.tscn
  Arch-enemies/overworld/overworld_test_area.tscn
  Arch-enemies/overworld/scripts/Animal.gd
  Arch-enemies/overworld/scripts/Item.gd
  Arch-enemies/overworld/scripts/Npc.gd
  Arch-enemies/overworld/scripts/interactionStruct.gd
  Arch-enemies/overworld/scripts/save_management.gd
  Arch-enemies/overworld/ui/overworld_ui/overworld_ui.gd
  Arch-enemies/overworld/ui/overworld_ui/overworld_ui.tscn
  Arch-enemies/project.godot
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: programming, overworld
