Repository mango-gremlin/arch-enemies, pull requests merged in 2024-02, with the labels that each got.

#352 overworld | improve quest dialogues
  Arch-enemies/overworld/dialogue/Dialogue.gd
  Arch-enemies/overworld/dialogue/Dialogue_Data.gd
  Arch-enemies/overworld/dialogues/OverworldDialogues.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: programming, overworld

#358 Overworld | Changed the action indicators in dialogue
  Arch-enemies/overworld/dialogues/OverworldDialogues.gd
Labels: enhancement, bridges

#360 bridges | implemented/added back button in goal menu
  Arch-enemies/bridges/scenes/goal_menu.tscn
  Arch-enemies/bridges/script/goal_menu.gd
Labels: bridges

#361 overworld | dialogue playing twice if quest solved
  Arch-enemies/overworld/dialogue/Dialogue.gd
Labels: bug, overworld

#353 bridges | add coyote timer for jumping
  Arch-enemies/bridges/scenes/player.tscn
  Arch-enemies/bridges/script/player.gd
Labels: enhancement, programming, bridges

#363 bridges | Made the starting branch more visible
  Arch-enemies/bridges/assets/background/background_left.png
  Arch-enemies/bridges/assets/background/background_left.png.import
  Arch-enemies/bridges/scenes/1_FrogHazardLevel.tscn
  Arch-enemies/bridges/scenes/2_FinalLevel.tscn
  Arch-enemies/bridges/scenes/parallax_background.tscn
Labels: ui-assets, bridges

#366 overworld | collision size and pos of npc interaction determined from sprite
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.tscn
  Arch-enemies/overworld/scenes/world.tscn
Labels: ui-assets, overworld

#368 overworld | ysort adjusted
  Arch-enemies/overworld/main_scene_overworld.tscn
  Arch-enemies/overworld/scenes/world.tscn
Labels: ui-assets, overworld

#370 added another pic to show frog is evil, cleaned up old pics
  Arch-enemies/assets/art/cutscenes/cutscene_1_aftermath.png
  Arch-enemies/assets/art/cutscenes/cutscene_1_aftermath.png.import
  Arch-enemies/assets/art/cutscenes/cutscene_1_v2_2.png
  Arch-enemies/assets/art/cutscenes/cutscene_1_v2_2.png.import
  Arch-enemies/assets/art/cutscenes/cutscene_2.png
  Arch-enemies/assets/art/cutscenes/cutscene_3.png
  Arch-enemies/overworld/starting_cutscene.gd
  Arch-enemies/overworld/starting_cutscene.tscn
Labels: ui-assets

#364 overworld | quest list UI tracks solveable and solved quests more clearly
  Arch-enemies/assets/art/ui_elements/checkmark_checked.png
  Arch-enemies/assets/art/ui_elements/checkmark_checked.png.import
  Arch-enemies/assets/art/ui_elements/checkmark_unchecked.png
  Arch-enemies/assets/art/ui_elements/checkmark_unchecked.png.import
  Arch-enemies/assets/art/ui_elements/quest_solve_indicator.png
  Arch-enemies/assets/art/ui_elements/quest_solve_indicator.png.import
  Arch-enemies/assets/art/ui_elements/quest_solve_indicator_invis.png
  Arch-enemies/assets/art/ui_elements/quest_solve_indicator_invis.png.import
  Arch-enemies/overworld/ui/overworld_ui/overworld_ui.gd
  Arch-enemies/overworld/ui/overworld_ui/overworld_ui.tscn
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: ui-assets, overworld

#375 about page | added names, links to fonts and github and licensing information
  Arch-enemies/assets/art/ui_elements/speech bubble.png
  Arch-enemies/assets/art/ui_elements/speech bubble.png.import
  Arch-enemies/overworld/ui/main_menu/about.gd
  Arch-enemies/overworld/ui/main_menu/about.tscn
  Arch-enemies/overworld/ui/main_menu/licensing.gd
  Arch-enemies/overworld/ui/main_menu/licensing.tscn
Labels: ui-assets
