Repository mango-gremlin/arch-enemies, pull requests merged in 2024-01, with the labels that each got.

#215 Issue213/auto fox startzone
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/grid.gd
Labels: bridges

#216 Separated CONDITIONAL into SIDE and BOTTOM
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
Labels: programming, bridges

#220 Added squirrel again to new grid approach
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/DRAGPREVIEW.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
Labels: programming, bridges

#222 Refactor tileset
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_air_tiles.png
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_air_tiles.png.import
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_ground_tiles.png
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_ground_tiles.png.import
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_tileset.png
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_tileset.tres
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_water_tiles.png
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_water_tiles.png.import
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
Labels: programming, bridges

#223 Issue208/re implement goal area
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/goal.tscn
  Arch-enemies/bridges/script/goal.gd
  Arch-enemies/bridges/script/goal_menu.gd
  Arch-enemies/bridges/script/player.gd
Labels: programming, bridges

#226 Issue 33. Added a Bramble Hazard
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_bramble_tiles.png
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_bramble_tiles.png.import
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/hazard_detection.tscn
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/player.gd
Labels: enhancement, programming, bridges

#228 Issue 227 Background
  Arch-enemies/bridges/assets/background/background_center.png
  Arch-enemies/bridges/assets/background/background_center.png.import
  Arch-enemies/bridges/assets/background/background_left.png
  Arch-enemies/bridges/assets/background/background_left.png.import
  Arch-enemies/bridges/assets/background/background_right.png
  Arch-enemies/bridges/assets/background/background_right.png.import
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/bridge_background.tscn
  Arch-enemies/bridges/scenes/hazard_detection.tscn
  Arch-enemies/bridges/scenes/parallax_background.tscn
  Arch-enemies/bridges/script/player.gd
Labels: programming, bridges

#229 Added deer placement rules, and shallow water
  Arch-enemies/bridges/script/DRAGPREVIEW.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
Labels: programming, bridges

#235 auto assign hitboxes for water and hazards
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/danger_detection.tscn
  Arch-enemies/bridges/scenes/hazard_detection.tscn
  Arch-enemies/bridges/scenes/water_detection.tscn
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
  Arch-enemies/bridges/script/player.gd
Labels: enhancement, programming, bridges

#242 bridges | proper placement of animals
  Arch-enemies/bridges/script/DRAGPREVIEW.gd
  Arch-enemies/bridges/script/grid_drag.gd
Labels: bug, programming, bridges

#233 overworld | autoloading sprites for npcs
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.tscn
  Arch-enemies/overworld/main_scene_overworld.tscn
Labels: ui-assets, overworld

#234 overworld | add methods to add/remove quests, add them to ui for tracking purpose
  Arch-enemies/overworld/scripts/Npc.gd
  Arch-enemies/overworld/ui/overworld_ui/overworld_ui.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: programming, overworld

#243 bridges | fixed dropzone preview
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/DRAGPREVIEW.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
Labels: bug, programming, bridges

#245 bridges | implement hierarchy for tiles
  Arch-enemies/bridges/script/grid.gd
Labels: bug, programming, bridges

#244 bridges | Fixed boundary issues
  Arch-enemies/bridges/script/grid_drag.gd
Labels: bug, programming, bridges

#255 bridges | Added the dynamic grid
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/Camera.gd
  Arch-enemies/bridges/script/grid.gd
Labels: programming, bridges

#254 overworld | Fixed Ysort
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/main_scene_overworld.tscn
  Arch-enemies/overworld/overworld.gd
  Arch-enemies/overworld/scenes/world.tscn
  Arch-enemies/overworld/scripts/save_management.gd
Labels: ui-assets, overworld

#239 overworld | automatically entering bridge-level denoted by BridgeEdge
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/main_scene_overworld.tscn
  Arch-enemies/overworld/overworld_test_area.tscn
  Arch-enemies/overworld/scenes/player.tscn
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: programming, bridges, overworld

#261 bridges | Make the background more distinguishable from the foreground.
  Arch-enemies/bridges/assets/background/background_center.png
  Arch-enemies/bridges/assets/background/background_center_v4.png
  Arch-enemies/bridges/assets/background/background_center_v4.png.import
  Arch-enemies/bridges/assets/background/background_darkness.png
  Arch-enemies/bridges/assets/background/background_darkness.png.import
  Arch-enemies/bridges/scenes/parallax_background.tscn
Labels: ui-assets, bridges

#259 Overworld | Simplify Building a bridge in editor
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_FLOOR.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_FLOOR.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_h.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_h.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_h2.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_h2.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_h_FLOOR.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_h_FLOOR.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_v.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_v.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_v2.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_connecting_part_v2.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_bottom.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_bottom.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_bottom2.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_bottom2.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_bottom_FLOOR.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_bottom_FLOOR.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_horizontal_unbuilt.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_horizontal_unbuilt.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_left.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_left.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_left2.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_left2.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_left_FLOOR.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_left_FLOOR.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_right.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_right.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_right2.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_right2.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_rightFLOOR.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_rightFLOOR.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_top.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_top.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_top2.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_top2.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_top_FLOOR.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_top_FLOOR.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_unbuilt.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_unbuilt.png.import
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_vertical_unbuilt.png
  Arch-enemies/assets/art/objects/overworld_bridges/overworld_bridge_start_vertical_unbuilt.png.import
  Arch-enemies/overworld/entities/interaction_overworld/bridge_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/bridge_interaction.tscn
  Arch-enemies/overworld/entities/interaction_overworld/interactionspot.tscn
  Arch-enemies/overworld/entities/interaction_overworld/template/horizontal_bridge_part_with_collision.tscn
  Arch-enemies/overworld/entities/interaction_overworld/template/horizontal_bridge_template.tscn
  Arch-enemies/overworld/entities/interaction_overworld/template/vertical_bridge_part_with_collision.tscn
  Arch-enemies/overworld/entities/interaction_overworld/template/vertical_bridge_template.tscn
  Arch-enemies/overworld/main_scene_overworld.tscn
  Arch-enemies/overworld/overworld_test_area.tscn
  Arch-enemies/overworld/scenes/world.tscn
Labels: ui-assets, overworld

#266 Added basic dialogue system to the overworld
  Arch-enemies/overworld/dialogue/Dialogue.gd
  Arch-enemies/overworld/dialogue/DialogueUI.gd
  Arch-enemies/overworld/dialogue/DialogueUI.tscn
  Arch-enemies/overworld/dialogue/Dialogue_Data.gd
  Arch-enemies/overworld/dialogue/Dialogue_Entry.gd
  Arch-enemies/overworld/dialogues/test_dialogue/ExampleData.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page1.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page2.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page3.gd
  Arch-enemies/overworld/dialogues/test_dialogue/blue.png
  Arch-enemies/overworld/dialogues/test_dialogue/blue.png.import
  Arch-enemies/overworld/dialogues/test_dialogue/green.png
  Arch-enemies/overworld/dialogues/test_dialogue/green.png.import
  Arch-enemies/overworld/dialogues/test_dialogue/red.png
  Arch-enemies/overworld/dialogues/test_dialogue/red.png.import
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/entities/interaction_overworld/interactionspot.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/overworld/main_scene_overworld.tscn
  Arch-enemies/overworld/overworld_test_area.tscn
  Arch-enemies/overworld/scripts/Npc.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: programming, overworld

#262 bridges | bridge inventory but local first
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/global.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: bridges

#271 bridges | added pause menu to new bridge level
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/grid.gd
Labels: enhancement, programming, bridges

#273 overworld | bridge remove empty inventory to overwrite state saved in singleton
  Arch-enemies/overworld/scripts/save_management.gd
Labels: programming, bridges, overworld

#270 changed the TileSet Image to the Frog
  Arch-enemies/assets/art/tilesets/bridge_tileset/bridge_bramble_tiles.png
  Arch-enemies/bridges/scenes/Grid.tscn
Labels: programming, bridges

#276 Extended squirrel logic for shallow
  Arch-enemies/bridges/script/grid_drag.gd
Labels: bug, programming, bridges

#275 bridges | check inventory before dragging
  Arch-enemies/bridges/script/grid_drag.gd
Labels: bug, programming, bridges

#277 overworld | fox is now animated
  Arch-enemies/assets/art/characters/fox2128.tmp
  Arch-enemies/assets/art/characters/fox_idle_sheet_back.png
  Arch-enemies/assets/art/characters/fox_idle_sheet_back.png.import
  Arch-enemies/assets/art/characters/fox_idle_sheet_front.png
  Arch-enemies/assets/art/characters/fox_idle_sheet_front.png.import
  Arch-enemies/assets/art/characters/fox_walking_sheet_back.png
  Arch-enemies/assets/art/characters/fox_walking_sheet_back.png.import
  Arch-enemies/assets/art/characters/fox_walking_sheet_front.png
  Arch-enemies/assets/art/characters/fox_walking_sheet_front.png.import
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/scenes/player.tscn
Labels: ui-assets, overworld

#279 bridges | update singleton after level was solved
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/goal_menu.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: programming, bridges

#285 Bug | leaving overworld updates item inventory instead of animal inventory
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: bug, bridges

#286 bridges & overworld | add menu assets
  Arch-enemies/assets/art/ui_elements/button_hover.png
  Arch-enemies/assets/art/ui_elements/button_hover.png.import
  Arch-enemies/assets/art/ui_elements/button_normal.png
  Arch-enemies/assets/art/ui_elements/button_normal.png.import
  Arch-enemies/assets/art/ui_elements/clouds/cloud_1.png
  Arch-enemies/assets/art/ui_elements/clouds/cloud_1.png.import
  Arch-enemies/assets/art/ui_elements/clouds/cloud_2.png
  Arch-enemies/assets/art/ui_elements/clouds/cloud_2.png.import
  Arch-enemies/assets/art/ui_elements/clouds/cloud_3.png
  Arch-enemies/assets/art/ui_elements/clouds/cloud_3.png.import
  Arch-enemies/assets/art/ui_elements/clouds/cloud_4.png
  Arch-enemies/assets/art/ui_elements/clouds/cloud_4.png.import
  Arch-enemies/assets/art/ui_elements/clouds/cloud_5.png
  Arch-enemies/assets/art/ui_elements/clouds/cloud_5.png.import
  Arch-enemies/assets/art/ui_elements/clouds/cloud_6.png
  Arch-enemies/assets/art/ui_elements/clouds/cloud_6.png.import
  Arch-enemies/assets/art/ui_elements/clouds/cloud_7.png
  Arch-enemies/assets/art/ui_elements/clouds/cloud_7.png.import
  Arch-enemies/assets/art/ui_elements/menu_container.png
  Arch-enemies/assets/art/ui_elements/menu_container.png.import
  Arch-enemies/assets/art/ui_elements/ui_theme.tres
  Arch-enemies/assets/art/ui_elements/yoster.ttf
  Arch-enemies/assets/art/ui_elements/yoster.ttf.import
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/scenes/bridges_pause_menu.tscn
  Arch-enemies/bridges/scenes/goal_menu.tscn
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/overworld/ui/menu/menu/pause_menu.tscn
  Arch-enemies/overworld/ui/overworld_ui/overworld_ui.tscn
Labels: ui-assets, bridges, overworld

#290 bridges | update menus for the new levels
  Arch-enemies/bridges/scenes/0_TutorialLevel.tscn
  Arch-enemies/bridges/scenes/1_FrogHazardLevel.tscn
  Arch-enemies/bridges/scenes/2_FinalLevel.tscn
  Arch-enemies/bridges/scenes/bridges_pause_menu.tscn
  Arch-enemies/bridges/scenes/goal_menu.tscn
Labels: ui-assets, bridges

#291 Add font licensing to readme
  README.md
Labels: documentation

#292 the fox animation changes now to idle when switching to drag mode
  Arch-enemies/bridges/script/player.gd
Labels: programming, bridges, prototype

#293 Added the UI for the Bridges.
  Arch-enemies/assets/art/ui_elements/Checked1.png
  Arch-enemies/assets/art/ui_elements/Checked1.png.import
  Arch-enemies/assets/art/ui_elements/Unchecked1.png
  Arch-enemies/assets/art/ui_elements/Unchecked1.png.import
  Arch-enemies/assets/art/ui_elements/animal_inventory_scroll8.png
  Arch-enemies/assets/art/ui_elements/animal_inventory_scroll8.png.import
  Arch-enemies/assets/art/ui_elements/ui_theme.tres
  Arch-enemies/bridges/scenes/Grid.tscn
Labels: ui-assets, bridges

#299 Overworld | add Npc name to dialogue
  Arch-enemies/overworld/dialogue/Dialogue.gd
  Arch-enemies/overworld/dialogue/DialogueUI.gd
  Arch-enemies/overworld/dialogue/DialogueUI.tscn
  Arch-enemies/overworld/dialogue/Dialogue_Data.gd
  Arch-enemies/overworld/dialogues/QuestTrackingNPC/QuestTrackingNPC.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page-Quest-Done1.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page1.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page2.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page3.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: overworld

#296 fixes stray lowercase sound file
  Arch-enemies/assets/sound/Jump.wav
  Arch-enemies/assets/sound/Jump.wav.import
Labels: bug, bridges, overworld

#300 overworld | added cutscene that plays on startup
  Arch-enemies/assets/art/cutscenes/cutscene_1.png
  Arch-enemies/assets/art/cutscenes/cutscene_1.png.import
  Arch-enemies/assets/art/cutscenes/cutscene_2.png
  Arch-enemies/assets/art/cutscenes/cutscene_2.png.import
  Arch-enemies/assets/art/cutscenes/cutscene_3.png
  Arch-enemies/assets/art/cutscenes/cutscene_3.png.import
  Arch-enemies/overworld/scripts/main_menu.gd
  Arch-enemies/overworld/starting_cutscene.gd
  Arch-enemies/overworld/starting_cutscene.tscn
Labels: ui-assets, overworld

#302 overworld | indicators for interacting with npcs, items, walking
  Arch-enemies/assets/art/ui_elements/InteractionIndicator_E_animation.png
  Arch-enemies/assets/art/ui_elements/InteractionIndicator_E_animation.png.import
  Arch-enemies/assets/art/ui_elements/InteractionIndicator_WASD.png
  Arch-enemies/assets/art/ui_elements/InteractionIndicator_WASD.png.import
  Arch-enemies/overworld/entities/Player/Player.gd
  Arch-enemies/overworld/entities/interaction_overworld/item_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/item_interaction.tscn
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.tscn
  Arch-enemies/overworld/scenes/player.tscn
Labels: ui-assets, overworld

#304 overworld | added interaction indicator to bridges
  Arch-enemies/overworld/entities/interaction_overworld/bridge_interaction_animation.gd
  Arch-enemies/overworld/entities/interaction_overworld/template/horizontal_bridge_template.tscn
  Arch-enemies/overworld/entities/interaction_overworld/template/vertical_bridge_template.tscn
Labels: ui-assets, overworld

#314 increased max slope of bridge player to 50
  Arch-enemies/bridges/scenes/player.tscn
Labels: bridges

#278 bridges | disable all actions when menus are open
  Arch-enemies/bridges/script/global.gd
  Arch-enemies/bridges/script/goal.gd
  Arch-enemies/bridges/script/goal_menu.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/player.gd
  Arch-enemies/bridges/script/toggle_mode_button.gd
Labels: enhancement, programming, bridges

#309 overworld | improve deer npc, handling undone / done quest dialogues
  Arch-enemies/overworld/dialogue/Dialogue.gd
  Arch-enemies/overworld/dialogue/Dialogue_Data.gd
  Arch-enemies/overworld/dialogues/DynamicDialogue/DynamicDialogue.gd
  Arch-enemies/overworld/dialogues/QuestTrackingNPC/QuestTrackingNPC.gd
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: bug, overworld

#310 Feature/disable save management
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: bug, overworld

#312 overworld | allow replaying bridge level after it was done
  Arch-enemies/overworld/entities/Player/Player.gd
Labels: game-design, overworld

#294 refractored execute_interaction #187
  Arch-enemies/overworld/entities/Player/Player.gd
Labels: programming, overworld

#318 Refractoring of SingletonPlayer.gd Dialogues
  Arch-enemies/assets/art/dialogue/green.png
  Arch-enemies/assets/art/dialogue/green.png.import
  Arch-enemies/overworld/dialogues/DynamicDialogue/DynamicPageImpl.gd
  Arch-enemies/overworld/dialogues/OverworldDialogues.gd
  Arch-enemies/overworld/dialogues/test_dialogue/ExampleData.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page-Quest-Done1.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page1.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page2.gd
  Arch-enemies/overworld/dialogues/test_dialogue/Page3.gd
  Arch-enemies/overworld/dialogues/test_dialogue/blue.png
  Arch-enemies/overworld/dialogues/test_dialogue/green.png.import
  Arch-enemies/overworld/dialogues/test_dialogue/red.png
  Arch-enemies/overworld/dialogues/test_dialogue/red.png.import
  Arch-enemies/singleton_scripts/singleton_player.gd
Labels: programming, overworld

#316 center the dragpreview of the animals
  Arch-enemies/bridges/scenes/dragpreview.tscn
  Arch-enemies/bridges/script/DRAGPREVIEW.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/bridges/script/grid_drag.gd
Labels: bridges

#324 Bridges: Walking sound continues after reaching goal area
  Arch-enemies/bridges/script/goal.gd
  Arch-enemies/bridges/script/grid.gd
Labels: bridges

#320 Fixes sound and animation issue when opening a dialogue
  Arch-enemies/overworld/entities/Player/Player.gd
Labels: programming, overworld

#322 Disabled unnused buttons in the dynamic dialogue
  Arch-enemies/overworld/dialogue/DialogueUI.gd
  Arch-enemies/overworld/dialogue/Dialogue_Data.gd
  Arch-enemies/overworld/dialogue/Dialogue_Entry.gd
  Arch-enemies/overworld/dialogues/DynamicDialogue/DynamicPageImpl.gd
  Arch-enemies/overworld/dialogues/QuestTrackingNPC/NoQuestFoundPage.gd
  Arch-enemies/overworld/dialogues/QuestTrackingNPC/QuestDonePage.gd
  Arch-enemies/overworld/dialogues/QuestTrackingNPC/QuestPage.gd
  Arch-enemies/overworld/dialogues/QuestTrackingNPC/QuestTrackingNPC.gd
Labels: programming, overworld

#330 overworld | improve dialogue indicator
  Arch-enemies/assets/art/ui_elements/dialogue_indicator.png
  Arch-enemies/assets/art/ui_elements/dialogue_indicator.png.import
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.gd
  Arch-enemies/overworld/entities/interaction_overworld/npc_interaction.tscn
Labels: enhancement, ui-assets

#331 bridges | add goal indicator
  Arch-enemies/assets/art/objects/flagpost.png
  Arch-enemies/assets/art/objects/flagpost.png.import
  Arch-enemies/bridges/scenes/0_TutorialLevel.tscn
  Arch-enemies/bridges/scenes/1_FrogHazardLevel.tscn
  Arch-enemies/bridges/scenes/2_FinalLevel.tscn
  Arch-enemies/bridges/scenes/goal.tscn
Labels: enhancement, ui-assets, bridges

#334 Fix main menu export
  Arch-enemies/overworld/ui/main_menu/main_menu.tscn
Labels: bug

#337 Quick deletion of snake swimming dialog
  Arch-enemies/overworld/dialogues/OverworldDialogues.gd
Labels: overworld

#340 Resize one bramble and scale final level
  Arch-enemies/bridges/scenes/2_FinalLevel.tscn
Labels: bridges

#342 Adjust level buttons
  Arch-enemies/bridges/scenes/0_TutorialLevel.tscn
  Arch-enemies/bridges/scenes/1_FrogHazardLevel.tscn
  Arch-enemies/bridges/scenes/2_FinalLevel.tscn
  Arch-enemies/bridges/scenes/toggle_build_fox_mode.gd
  Arch-enemies/bridges/script/goal.gd
  Arch-enemies/bridges/script/goal_menu.gd
  Arch-enemies/bridges/script/grid.gd
  Arch-enemies/overworld/ui/menu/menu/pause_menu.gd
Labels: enhancement, bridges

#333 overworld | Added custom names to dialogue system
  Arch-enemies/overworld/dialogue/Dialogue_Data.gd
  Arch-enemies/overworld/dialogue/Dialogue_Entry.gd
  Arch-enemies/overworld/dialogues/DynamicDialogue/DynamicDialogue.gd
  Arch-enemies/overworld/dialogues/DynamicDialogue/DynamicPage.gd
  Arch-enemies/overworld/dialogues/DynamicDialogue/DynamicPageImpl.gd
  Arch-enemies/overworld/dialogues/DynamicDialogue/DynamicQuestResolved.gd
  Arch-enemies/overworld/dialogues/DynamicDialogue/EmptyDynamicDialoguePage.gd
  Arch-enemies/overworld/dialogues/OverworldDialogues.gd
Labels: programming, overworld

#345 overworld | adjusted collisions for bridge starts
  Arch-enemies/overworld/scenes/world.tscn
Labels: ui-assets, overworld

#344 bridges | fix grid appearing when dragging nothing
  Arch-enemies/bridges/scenes/1_FrogHazardLevel.tscn
  Arch-enemies/bridges/script/grid_drag.gd
Labels: bug, programming, bridges

#348 bridges | Changed conditional colors / animal backgrounds
  Arch-enemies/assets/art/objects/bridge_deer.png
  Arch-enemies/bridges/assets/bottom.png
  Arch-enemies/bridges/assets/bottom.png.import
  Arch-enemies/bridges/assets/shallows.png
  Arch-enemies/bridges/assets/shallows.png.import
  Arch-enemies/bridges/scenes/0_TutorialLevel.tscn
  Arch-enemies/bridges/scenes/1_FrogHazardLevel.tscn
  Arch-enemies/bridges/scenes/2_FinalLevel.tscn
  Arch-enemies/bridges/scenes/Grid.tscn
  Arch-enemies/bridges/script/grid.gd
Labels: ui-assets, bridges
